/* reset */
html {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

/* typographie */

.link,
header a,
main span,
h5 {
  font-size: var(--link);
  font-weight: bold;
  letter-spacing: 0.1px;
}

.slogan,
h4 {
  font-size: var(--caption);
  font-weight: bold;
}

p {
  letter-spacing: 0.1px;
}

h1 {
  font-size: var(--display-xl);
}

h2 {
  font-size: var(--headline-xl);
}

form input,
form textarea {
  font-size: var(--caption-sm);
}

/* font colors */

.nav-bar,
header a {
  color: var(--on-surface-link);
}

h1,
h2 {
  color: var(--on-surface-alt);
}

footer h2 {
  color: var(--on-surface-footer-half-1);
}

.pseudo-btn{
  color: white;
  background-color: var( --container-pseudo-btn);
}

.paragraph-lg {
  color: var(--on-surface-pale-paragraph);
}

/* layout */

/* header layout */

header{
  height: 130vh;
  position: relative;
}

header::before{
  content:'';
  position: absolute;
  inset: 0;
  z-index: -9;
  background-color: #FFC2A4;
  opacity: 0.4;
}

.background{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  z-index: -10;
  filter: blur(3px);
}

.nav-bar{
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: var(--space-link-margin);  
  background-color: var(--color-background-navbar);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94%;
}

.logo{
  margin-bottom: var(--space-relevent-text);
}

.slogan{
  margin-bottom: var(--space-irrelevent-text);
}

.bookmark{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 0.625rem;
  padding: 0.9375rem 0.625rem;
}

.map{
  width: 50%;
}

/* main layout : first section ****************************************************************************/ 

.pseudo-btn{
  padding: 0.625rem 0.9375rem;
  border-radius: 1.875rem;
  display: inline-block;
  margin-bottom: 0.625rem;
}

.word-and-icon{
  display: flex;
  align-items: center;
  gap: 0.625rem; /*10px*/
}

.about-company{
  display: grid;
  grid-template-columns: 1fr 38.6%;
  margin-bottom: 4.375rem;
}


.animation{
  width: 100%;
}

.extra-padding-paragraph{
  padding-top: 12.5rem;
  text-align: left;
}

.company-overview{
  z-index: 1;
  width: 100%;
  height: 69.06rem;
  position: relative;
  padding: 15rem var(--page-padding-left-right) 0; 
  background-image: url(../assets/svgs/shape-background-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: -9.8125rem;
}

.shape-background-1{
  position: absolute;
  width: 100%;
  object-fit:cover;
  inset: 0;
  z-index: -8; 
}

/* main layout : second section ****************************************************************************/

.section-heading{
  text-align: center;
  margin-bottom: var(--space-heading-margin-buttom);
}

.products-categorie{
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 265px var(--page-padding-left-right) 0 ;
  height: 98.75rem;
  position: relative;
  background-image: url(../assets/svgs/shape-background-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: -11.25rem ; /*-180px*/
}

.product-categorie-card{
  width: 23.125rem;/* 370px; */
  height: 23.125rem;
  border: none;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product-categorie-card::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 3.125rem;
  background-color: #000000;
  opacity: 0.25;
  z-index: 4;
}

.product-categorie-background{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 3;
  border-radius: 3.125rem;
}

.product-categorie-galerie{
  width: 49.0625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-categorie-grid);
}

.card-categorie-label{
  margin-bottom : 2.5rem;
  color: white;
  z-index: 5;
}

.shape-background-2{
  position: absolute;
  width: 100%;
  height: 107.81rem;
  object-fit:cover;
  inset: 0;
  z-index: -7; 
}

/* main layout : third section ****************************************************************************/

.service-features{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-alt-1);
  margin-top: -12.5rem;
  padding: 16rem var(--page-padding-left-right); 
}

.features-cards-container{
  display: flex;
  gap: 1rem;
}

.feature-card{
  width: 15.625rem;
  height: 15.625rem;
  background-color: var(--container-alt-1);
  border-radius: 3.125rem;
  padding: 2.5rem 1.25rem;
}

.feature-img{
  width: 4rem;
  height: 4rem;
  margin-bottom: 40%;
}

/* main layout : fourth section ****************************************************************************/

.our-vision{
  padding: 9.375rem var(--page-padding-left-right) ; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-alt-2);
}

.sized-paragraph{
  width: 48.43rem;
  margin-top: 1.25rem; /*this targets only one paragraph to set up the correct distance between it and a heading*/
}

/* Footer ***************************************************************************************************/

footer{
  position: relative;
  display: flex;
}

.or-arrow{
  position: absolute;
  top: 20%;
  left: 50%;
}

.left-side-container{
  background-color: var(--surface-footer-side-1);
  width: 52%;
}

.right-side-container{
  background-color: var(--surface-footer-side-2);
  width:48%;
  background-image: url(../assets/svgs/footer-triangle-triangle-bg.svg), url(../assets/svgs/circles-footer-bg.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: contain , 6rem;
}

.footer-left-side{
  padding: 6.25rem 3.125rem 6.25rem 12rem;
}

.footer-right-side{
  padding:12.5rem 12rem 6.25rem 3.125rem;
  color: var(--on-surface-footer-side-2);
}

.underlined-title{
  margin-bottom: 3.75rem;
}

.form-input{
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px  solid black;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.71rem;
}

label{
  display: block;
  padding-left: 0.5rem;
  margin-bottom: -1.25rem;
}

textarea{
  resize: none;
  overflow-y: auto;
  height: 9rem;
}

.under-line{
  display: block;
  margin-top: -10px;
}

.contact-info{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-media{
  display: flex;
  gap: 1rem;
}

.map{
  width: 100%;
  margin: 1.5rem 0.875rem;
}

.contact-info-container{
  margin-bottom: 3.125rem;
}

footer .button{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  background-color: var(--container-footer-side-1);
  color: var(--on-container-footer-side-1);
  cursor: pointer;
  font-size: 1.25rem;
}


