/* reset */
html {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

/* typographie */

.link,
header a,
main span,
h5 {
  font-size: var(--link);
  font-weight: bold;
  letter-spacing: 0.1px;
}

.slogan,
h4 {
  font-size: var(--caption);
  font-weight: bold;
}

p {
  letter-spacing: 0.1px;
}

h1 {
  font-size: var(--display-xl);
}

h2 {
  font-size: var(--headline-xl);
}

form input,
form textarea {
  font-size: var(--caption-sm);
}

/* font colors */

.nav-bar,
header a {
  color: var(--on-surface-link);
}

h1,
h2 {
  color: var(--on-surface-alt);
}

footer h2 {
  color: var(--on-surface-footer-half-1);
}

.pseudo-btn{
  color: white;
  background-color: var( --container-pseudo-btn);
}

.paragraph-lg {
  color: var(--on-surface-pale-paragraph);
}

/* layout */

/* header layout */

header{
  height: 916px;
  position: relative;
}

header::before{
  content:'';
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  inset: 0;
  z-index: -9;
  background-color: #FFC2A4;
  opacity: 0.4;
  /* filter: blur(6px); */
}

.background{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  z-index: -10;
  filter: blur(3px);
}

.nav-bar{
  display: flex;
  justify-content: center;
  gap: var(--space-link-margin);  
  background-color: var(--color-background-navbar);
  padding: 1rem 0;
  /* position: fixed; */
  width: 100%;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94%;
}

.logo{
  margin-bottom: var(--space-relevent-text);
}

.slogan{
  margin-bottom: var(--space-irrelevent-text);
}

.bookmark{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 10px;
  padding: 15px 10px;
}

.map{
  width: 50%;
}

/* main layout : first section ****************************************************************************/ 

/* .content{
  padding: 100px var(--page-padding-left-right) 0;  
} */

.pseudo-btn{
  padding: 10px 15px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 10px;
}


/* .heading-with-icon {
  margin-top: 50px;
} */

/* .icon{
  width: auto;
  height: auto;
} */

/* .inline-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.word-and-icon{
  display: flex;
  align-items: center;
  gap: 0.625rem; /*10px*/
}

.about-company{
  display: grid;
  /* gap: 0 10px; */
  grid-template-columns: 1fr 38.6%;
  margin-bottom: 70px;
}


.animation{
  width: 100%;
}

.extra-padding-paragraph{
  padding-top: 12.5rem;
  text-align: left;
}

.company-overview{
  z-index: 1;
  width: 100%;
  height: 1105px;
  position: relative;
  padding: 240px var(--page-padding-left-right) 0; 
  /* margin-bottom: 500px;  */
  /* background-color:blueviolet; */
  /* top: -157px; */
  /* overflow: hidden; */
  background-image: url(../assets/svgs/shape-background-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* top: -200px; */
  margin-top: -157px;
}

.shape-background-1{
  position: absolute;
  width: 100%;
  /* height: 1105px; */
  /* height: 100%; */
  object-fit:cover;
  /* inset: -157px 0; */
  inset: 0;
  z-index: -8; 
}

/* main layout : second section ****************************************************************************/

.section-heading{
  text-align: center;
  margin-bottom: var(--space-heading-margin-buttom);
}

/* .products-categorie{
  background-color:blue;1
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center; 1
  align-items: center;
  padding: 265px var(--page-padding-left-right) 0 ;
  height: 1950px;
  position: relative;
  top: -337px ; 1
  background-image: url(../assets/svgs/shape-background-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  top: -375px; 1
  margin-top: -180px;
} */

.products-categorie{
  /* background-color:blue; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 265px var(--page-padding-left-right) 0 ;
  height: 1580px;
  position: relative;
  /* top: -337px ; */
  background-image: url(../assets/svgs/shape-background-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* top: -375px; */
  margin-top: -180px;
}

.product-categorie-card{
  width: 370px;
  height: 370px;
  border: none;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product-categorie-card::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background-color: #000000;
  opacity: 0.25;
  z-index: 4;
}

.product-categorie-background{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 3;
  border-radius: 50px;
}

.product-categorie-galerie{
  width: 785px;
  /* background-color: #FFC2A4; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 370px 370px; */
  gap: var(--space-categorie-grid);
}

.card-categorie-label{
  margin-bottom : 40px;
  color: white;
  z-index: 5;
}

.shape-background-2{
  position: absolute;
  width: 100%;
  height: 1725px;
  /* height: 100%; */
  object-fit:cover;
  inset: 0;
  /* inset: -274px 0; */
  z-index: -7; 
}

/* main layout : third section ****************************************************************************/

.service-features{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(../assets/svgs/shape-background-3.svg);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: var(--surface-alt-1);
  margin-top: -200px;
  /* height: 915px; */
  padding: 160px var(--page-padding-left-right) ; 
}

.features-cards-container{
  display: flex;
  gap: 1rem;
}

.feature-card{
  width: 273px;
  height: 273px;
  background-color: var(--container-alt-1);
  border-radius: 50px;
  padding: 40px 20px;
}

.feature-img{
  width: 64px;
  height: 64px;
  margin-bottom: 40%;
}

/* main layout : fourth section ****************************************************************************/

.our-vision{
  padding: 150px var(--page-padding-left-right) ; 
  /* height: 593px;   */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-alt-2);
}

.sized-paragraph{
  width: 775px;
  margin-top: 20px; /*this targets only one paragraph to set up the correct distance between it and a heading*/
}

/* Footer ***************************************************************************************************/


