/* reset */
html {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

/* typographie */

.link,
header a,
main span,
h5 {
  font-size: var(--link);
  font-weight: bold;
  letter-spacing: 0.1px;
}

.slogan,
h4 {
  font-size: var(--caption);
  font-weight: bold;
}

p {
  letter-spacing: 0.1px;
}

h1 {
  font-size: var(--display-xl);
}

h2 {
  font-size: var(--headline-xl);
}

form input,
form textarea {
  font-size: var(--caption-sm);
}

/* font colors */

.nav-bar,
header a {
  color: var(--on-surface-link);
}

h1,
h2 {
  color: var(--on-surface-alt);
}

footer h2 {
  color: var(--on-surface-footer-half-1);
}

.pseudo-btn{
  color: white;
  background-color: var( --container-pseudo-btn);
}

.paragraph-lg {
  color: var(--on-surface-pale-paragraph);
}

/* layout */

/* header layout */

header{
  height: 120vh;
  width: 100%;
  position: relative;
}

header::before{
  content:'';
  position: absolute;
  inset: 0;
  z-index: -9;
  background-color: #FFC2A4;
  opacity: 0.4;
}

.background{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  z-index: -10;
  filter: blur(3px);
}

.nav-bar{
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-link-margin);  
  background-color: var(--color-background-navbar);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94%;
}

.logo{
  margin-bottom: var(--space-relevent-text);
}

.slogan{
  margin-bottom: var(--space-irrelevent-text);
}

.bookmark{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 0.625rem;
  padding: 0.9375rem 0.625rem;
}

.map{
  width: 50%;
}

/* main layout : first section ****************************************************************************/ 

.pseudo-btn{
  padding: 0.625rem 0.9375rem;
  border-radius: 1.875rem;
  display: inline-block;
  margin-bottom: 0.625rem;
}

.word-and-icon{
  display: flex;
  align-items: center;
  gap: 0.625rem; /*10px*/
}

.about-company{
  display: grid;
  grid-template-columns: 1fr 38.6%;
  margin-bottom: 4.875rem;
}


.animation{
  width: 100%;
}

.extra-padding-paragraph{
  padding-top: 12.5rem;
  text-align: left;
  margin-left : -90px; ;
}

.company-overview{
  z-index: 1;
  width: 100%;
  height: var(--section-1-height); /*100vh*/
  position: relative;
  padding: var(--section-1-top-padding) var(--page-padding-left-right) 0; 
  background-image: url(../assets/svgs/shape-background-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: var(--section-1-top-margin);
}

/* .shape-background-1{
  position: absolute;
  width: 100%;
  object-fit:cover;
  inset: 0;
  z-index: -8; 
} */

/* main layout : second section ****************************************************************************/

.section-heading{
  text-align: center;
  margin-bottom: var(--space-heading-margin-buttom);
}

.products-categorie{
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--section-2-top-padding) var(--page-padding-left-right) 0 ;
  height: var(--section-2-height); /*150vh*/
  position: relative;
  background-image: url(../assets/svgs/shape-background-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: var(--section-2-top-margin) ; /*-11.25rem = -180px*/
}

.product-categorie-card{
  width: 23.125rem;/* 370px; */
  height: 23.125rem;
  border: none;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product-categorie-card::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 3.125rem;
  background-color: #000000;
  opacity: 0.25;
  z-index: 4;
}

.product-categorie-background{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 3;
  border-radius: 3.125rem;
}

.product-categorie-galerie{
  width: 49.0625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-categorie-grid);
}

.card-categorie-label{
  margin-bottom : 2.5rem;
  color: white;
  z-index: 5;
}

.shape-background-2{
  position: absolute;
  width: 100%;
  height: 107.81rem;
  object-fit:cover;
  inset: 0;
  z-index: -7; 
}

/* main layout : third section ****************************************************************************/

.service-features{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-alt-1);
  margin-top: var(--section-3-top-margin);
  padding: var(--section-3-top-padding) var(--page-padding-left-right); 
}

.features-cards-container{
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.feature-card{
  width: 15.625rem;
  height: 15.625rem;
  background-color: var(--container-alt-1);
  border-radius: 3.125rem;
  padding: 2.5rem 1.25rem;
}

.feature-img{
  width: 4rem;
  height: 4rem;
  margin-bottom: 40%; 
}

/* .center{
  display: grid;
  justify-content: center;
  align-items: center;
} */
.center h2{
  text-align: center;
}

/* main layout : fourth section ****************************************************************************/

.our-vision{
  padding: 9.375rem var(--page-padding-left-right) ; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-alt-2);
}

.sized-paragraph{
  width: 48.43rem;
  margin-top: 1.25rem; /*this targets only one paragraph to set up the correct distance between it and a heading*/
}

/* Footer ***************************************************************************************************/

footer{
  position: relative;
  display: flex;
}

.or-arrow{
  position: absolute;
  top: 17.5%;
  left: 50%;
}

.left-side-container{
  background-color: var(--surface-footer-side-1);
  width: 52%;
}

.right-side-container{
  background-color: var(--surface-footer-side-2);
  width:48%;
  background-image: url(../assets/svgs/footer-triangle-triangle-bg.svg), url(../assets/svgs/circles-footer-bg.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: contain , 6rem;
}

.footer-left-side{
  padding: 6.25rem 3.125rem 6.25rem 4rem;
  max-width: 739.78px;
}

.footer-right-side{
  padding:12.5rem 4rem 6.25rem 3.125rem;
  color: var(--on-surface-footer-side-2);
  max-width: 682.875px;
}

.underlined-title{
  margin-bottom: 3.75rem;
}

.form-input{
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px  solid black;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.71rem;
}

label{
  display: block;
  padding-left: 0.5rem;
  margin-bottom: -1.25rem;
}

textarea{
  resize: none;
  overflow-y: auto;
  height: 9rem;
}

.under-line{
  display: block;
  margin-top: -10px;
}

.contact-info{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-media{
  display: flex;
  gap: 1rem;
}

.map{
  width: 100%;
  margin: 1.5rem 0.875rem;
}

.contact-info-container{
  margin-bottom: 3.125rem;
}

footer .button{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  background-color: var(--container-footer-side-1);
  color: var(--on-container-footer-side-1);
  cursor: pointer;
  font-size: 1.25rem;
}

.container{
  width: 100%;
  max-width: 1168px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-categorie-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.footer-container{
  display: flex;
}

.product-categorie-section-heading{
  text-align: center;
  margin: 0;
}


/* making the website responsive ***************************************************************************/

/* for larger screens >= 1440 *****************************/

@media(min-width:1440px){
  html{
    font-size: 17px;
  }
  :root{
    --section-1-top-margin:-12rem;
  }

  .left-side-container{
    display: grid;
    align-items: center;
    justify-content: right;
    grid-template-columns: 739.78px;
  }

  .footer-right-side{
    padding: 12rem 7.55rem 6.25rem 2.949rem;
  }

  .footer-left-side{
    padding: 6.25rem 2.949rem 6.25rem 7.55rem;
  }
}

@media(min-width:1660px){
  :root{
    --section-1-top-margin:-16rem;
  }
}

@media(min-width:1940px){
  :root{
    --section-1-top-margin:-20rem;
  }
}

/* @media(min-width:2225px){
  :root{
    --section-1-top-margin:-18rem;
  }
}

@media(min-width:2500px){
  :root{
    --section-1-top-margin:-20rem;
  }
} */

@media(min-width:1715px){
   
  :root{
    --section-1-height : 75rem;
    --section-1-top-padding : 20rem;

    --section-2-height: 105rem;
    --section-2-top-padding: 20rem;
    --section-2-top-margin: -12rem;
  }
}

@media(min-width:1840px){  
  :root{
    --section-2-height: 115rem;
    --section-2-top-padding: 25rem;
    --section-2-top-margin: -14rem;
  }
}

@media(min-width:2000px){
  :root{
    --section-2-height: 120rem;
    --section-2-top-margin: -14rem;
  }
}

@media(min-width:2100px){
  :root{
    --section-2-height: 135rem;
    --section-2-top-padding: 30rem;
    --section-2-top-margin: -20rem;

    --section-3-top-margin: -16rem;
    --section-3-top-padding: 16rem ;
  }

  .service-features{
    margin-top: -16rem;
    padding: 16rem var(--page-padding-left-right); 
  }
}

@media(min-width:2340px){
  :root{
    --section-1-height : 85rem;
    --section-1-top-padding : 27rem;
    
    --section-2-height: 148rem;
    --section-2-top-padding: 40rem;
  }
}

/*design for small laptop (1024 < width <1240 px) ******************************/

@media(min-width:1024px) and (max-width:1240px){
  :root{
    --display-xl: 40px ;
    --headline-xl: 40px ;
    --page-padding-left-right : 4rem;
  }

  .icon{
    width: 60px;
    height: 60px;
  }

  .extra-padding-paragraph{
    margin-left: -5.625rem; /*90px*/
  }

  .feature-img{
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 84px; 
  }

  .feature-card{
    width: 15.625rem; /*15.625rem*/
    height: 15.625rem;
    background-color: var(--container-alt-1);
    border-radius: 2rem;
    padding: 2rem 1rem;
  }

  .left-side-container{
    display: grid;
    align-items: center;
    /* justify-content: right; */
    /* grid-template-columns: 547.78px; */
  }

  .footer-left-side{
    padding: 6.25rem 3.125rem 6.25rem 4rem;
    /* max-width: 547.78px; */
  }

  .footer-right-side{
    padding: 12rem 4rem 6.25rem 2.949rem;
  }

}

@media (min-width : 1241px) and (max-width:1440px) {
  :root{
    --section-1-top-margin: -11rem; 
  }
}
