/* typographie */
html{
  scroll-behavior:smooth;
}

.link,
.input-placeholder,
.input-placeholder::placeholder {
  font-size: var(--link);
  letter-spacing: 0.1px;
}

.link {
  color: var(--on-surface-link);
  font-weight: bold;
  transition: color .5s ease-out;
}
.link:hover{
  color: blue;
}

.input-placeholder,
.input-placeholder::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #cfcfcf;
}

.input-placeholder{
  color: black;
}

.product-name,
.product-price {
  font-size: var(--title-sm);
  font-weight: 600;
  /* letter-spacing: -0.15px; */
}

.product-name {
  color: var(--on-container-main);
  margin-bottom: 25px;
  height: 40px;
  overflow: hidden;         /* hide overflow content */
  text-overflow:ellipsis;  /* add the "…" when text is too long */
}

.like-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.heart-icon path{
  stroke: black;
}

.heart-icon path:hover{
  fill: red;
  stroke: red;
}

.like-btn-clicked .heart-icon path{
  fill: red;
  stroke: red;
}

.action-btn,
.hover-effect {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--on-surface-link);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease-out;
}

.action-btn:hover,
.hover-effect:hover{
  color: blue;
}

.saved-items,
.our-products{
  cursor: pointer;
}

body {
  background-color: var(--surface-main);
}


/* layout  */

body {
  padding: 0px 64px; /*use token here*/
}

main{
  padding-top: 120px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--surface-main);
  /* padding: 10px 64px; */
  z-index: 1000;
  position: fixed;
  top: 0;
  /* left: 0; */
}

.input-wrapper{
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon{
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  z-index: 10;
  margin: 0 -20px 0 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.link {
  padding: 10px 15px;
}

.input-placeholder{
  background-color: #f7f7f7;
  border: none;
  border-radius: 10px;
  padding: 10px 40px 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sorted-by {
  margin-bottom: 80px;
}


/*cards layout*/

.store {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.porduct-img {
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.img-bottom {
  padding: 12px;
}

.heart-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.action-btns-container {
  display: flex;
  justify-content: space-around;
}

.overlay {
  background-color: white;
  z-index: 1500; 
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  /* padding: 16px 24px 0; */
  /* padding: 124px 64px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.nav-overlay {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
  margin-top: 100px;
}

.close-icon{
  width: 50px;
  aspect-ratio: 1/1;
}

.default-sort{
  color: #cfcfcf;
}

.close-btn{
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 50px;
  aspect-ratio: 1/1;
  margin-bottom: 100px;
  align-self: flex-end;
}

.humburger-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  aspect-ratio: 1/1;
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 64px;
}

.humburger-icon{
  width: 50px;
  aspect-ratio: 1/1;
  z-index: 2000;
}

.hide{
  display: none;
}

.display{
  background-color: white;
  z-index: 1500; 
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  /* padding: 16px 24px 0; */
  padding: 124px 64px;
  /* display: flex; */
  /* flex-direction: column; */
}

/*add responsiveness to the page */

@media (min-width : 1440px){
  html{
    font-size: 18px;
  }
  body{
    padding: 24px 128px;
  }
  header{
    padding: 10px 128px;
  }
}

/* adjusting the page marging according to screen's width */

@media(min-width : 1535px){
  html{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  body{
    max-width: 1530px;
    margin: 0 auto;
  }
  header{
    max-width: 1480px;
    margin: 0 auto;
  }
}

@media(min-width : 1786px){
  body{
    max-width: 1786px;
    margin: 0 auto;
  }

  /* header{
    max-width: 1786px;
    margin: 0 auto;
  } */

  .store {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1rem;
  }
}

@media (min-width: 1023px) and (max-width:1440px){
  header{
    padding: 10px 64px;
  }
}

@media (min-width: 768px) and (max-width:1023px){
  html{
    font-size: 15.5px;
  }

  .store {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
  }

  header{
    padding:10px 64px;
  }

}

@media (min-width: 480px) and (max-width:767px){
  html{
    font-size: 15px;
  }

  body,
  .overlay{
    padding: 24px 32px;
  }

  header{
    padding: 10px 32px;
  }

  .overlay{
    width: 45%;
  }

  .close-icon,
  .close-btn,
  .humburger-btn,
  .humburger-icon{
    width: 40px;
    aspect-ratio: 1/1;
  }

  .humburger-btn{
    margin-right: 32px;
  }

  .store {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
  }
}

@media (min-width: 320px) and (max-width:480px){
  html{
    font-size: 14px;
  }

  body,
  .overlay{
    padding: 24px 16px;
  }

  .humburger-btn{
    margin-right: 16px;
  }

  header{
    padding: 10px 16px;
  }

  .overlay{
    width:70%;
  }

  .close-icon,
  .close-btn,
  .humburger-btn,
  .humburger-icon{
    width: 40px;
    aspect-ratio: 1/1;
  }

  .store {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 1rem;
  }

  .order-btn{
    display: none;
  }

  .search-bar{
    max-width: 225px;
  }

  /* .input-wrapper{
    max-width: 200px;
  } */
}

@media (min-width: 366px) and (max-width:480px){
  .store {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
  }
}

@media(max-width:925px){
  .nav-bar{
    display: none;
  }
}

@media(min-width:925px){
  .humburger-btn,
  .overlay{
    display: none;
  }
}