/* This file contains the color tokens for the theme. 
   The colors are defined in hex format and are used throughout the application. */
:root {
  --surface-main: #fff1eb;
  --surface-alt-1: #ffe8dc;
  --surface-alt-2: #f5f2ed;
  --surface-footer-half-1:#FFE8DC;
  --surface-footer-half-2: #000000;

  --container-main: #ffffff;
  --container-alt-1: #f5f2ed;
  --container-alt-2: #ffe8dc;
  --container-footer-half-1: #ff691f;
/* there is no container for the second half of footer . */

  --on-surface-main: #000000;
  --on-surface-alt: #425252;
  --on-surface-alt: #425252;
  --on-surface-footer-half-1: #000000;
  --on-surface-footer-half-2: #ffffff;
  --on-surface-link: #6b2d0e;
  --on-surface-pale-paragraph: #8d8d8d;

  --on-container-main: #43428b;
  --on-container-alt-1: #000000;
  --on-container-alt-2: #000000;
  --on-container-footer-half-1: #ffffff;
}

/*
the font size tokens for the theme. 
   The font sizes are defined in rem format and are used throughout the application. 
   The font sizes are based on a 16px base font size, so 1rem = 16px.
   The font sizes are used to create a consistent typography scale across the application.
*/
:root {
  --body: 1rem;
  --link: 1rem;
  --display-xl: 3.375rem;
  --headline-xl: 3.375rem;
  --caption: 1.5rem;
  --caption-sm: 1rem;
  --placeholder-md: 1rem;
  --placeholder-lg: 1.125rem;
  --title-sm: 0.875rem;
}

/* some of the spaces used throughout the project */
:root {
  --space-link-margin: 0.625 rem;
  --space-relevent-text: 0.625 rem;
  --space-irrelevent-text: 1.25 rem;
  --space-categorie-grid: 2.5 rem;
  --space-heading-margin-buttom: 9.375 rem; /* in 'about us' page , the buttom margin of the headings */
  --space-content-padding: 12.5 rem; /* in 'about us' page , the content of the sections up and down  */
  --space-product-grid-horizontal: 1 rem;
  --space-product-grid-vertical: 3 rem;
}
