/* This file contains the color tokens for the theme. 
   The colors are defined in hex format and are used throughout the application. */
:root {
  --surface-main: #fff1eb;
  --surface-alt-1: #ffe8dc;
  --surface-alt-2: #f5f2ed;
  --surface-footer-side-1: #ffe8dc;
  --surface-footer-side-2: #303030;
  --color-background-navbar: #ffe8dc;

  --container-main: #ffffff;
  --container-alt-1: #f5f2ed;
  --container-alt-2: #ffe8dc;
  --container-pseudo-btn: #ff691f;
  --container-footer-side-1: #ff691f;
  /* there is no container for the second half of footer . */

  --on-surface-main: #000000;
  --on-surface-alt: #425252;
  --on-surface-alt: #425252;
  --on-surface-footer-side-1: #000000;
  --on-surface-footer-side-2: #ffffff;
  --on-surface-link: #6b2d0e;
  --on-surface-pale-paragraph: #8d8d8d;

  --on-container-main: #43428b;
  --on-container-alt-1: #000000;
  --on-container-alt-2: #000000;
  --on-container-footer-side-1: #ffffff;
}

/*
the font size tokens for the theme. 
   The font sizes are defined in rem format and are used throughout the application. 
   The font sizes are based on a 16px base font size, so 1rem = 16px.
   The font sizes are used to create a consistent typography scale across the application.
*/
:root {
  --body: 1rem;
  --link: 1rem;
  --display-xl: 3.375rem;
  --headline-xl: 3.375rem;
  --caption: 1.5rem;
  --caption-sm: 1rem;
  --placeholder-md: 1rem;
  --placeholder-lg: 1.125rem;
  --title-sm: 0.875rem;
}

/* some of the spaces used throughout the project */
:root {
  --space-link-margin: 2.5rem; /*40px (base = 16px) */
  --space-relevent-text: 0.625rem;
  --space-irrelevent-text: 1.25rem;
  --space-categorie-grid: 2.5rem;
  --space-heading-margin-buttom: 9.375rem; /* in 'about us' page , the buttom margin of the headings */
  --space-content-padding-top-buttom: 12.5rem; /* in 'about us' page , the content of the sections up and down  */
  --space-product-grid-horizontal: 1rem;
  --space-product-grid-vertical: 3rem;
  --page-padding-left-right: 128px; /*8rem*/
  --section-1-height: 62rem /*69.06rem*/;
  --section-1-top-padding: 15rem;
  --section-1-top-margin: -9.8125rem;
  --section-2-height: 98.75rem;
  --section-2-top-padding: 16.56rem;
  --section-2-top-margin: -11.25rem;
  --section-3-top-padding: 16rem;
  --section-3-top-margin: -12.5rem;
}
